// BREAKPOINTS

// ===================================================================================

// Pixel breakpoints
$BP320: 320px;
$BP480: 480px;
$BP640: 640px;
$BP960: 960px;


// em breakpoints
// $BP20: 20em;
// $BP30: 30em;
// $BP40: 40em;
// $BP60: 60em;